.DS_Store
._.DS_Store
.idea
.vscode
__pycache__

*.cmd
*.log
*.swp
*.tar
*.tar.gz

# Data/**
Data/en-zh
Data/cc/dummy
Data/UNv1.0.en-zh.tar.gz
Data/mbart-large-cc25
!Data/cc/*.json*

Output/
UMT_data/
UMT_datasentence_level/
