.DS_Store
._.DS_Store
.idea
.vscode
__pycache__

*.cmd
*.log
*.swp
*.tar
*.tar.gz
*.code-workspace

# Data/**
DataLink/
Data/en-zh
Data/cc/dummy
Data/Coco/
Data/UNv1.0.en-zh.tar.gz
Data/mbart-large-cc25
Data/cc/de.txt
Data/cc/en.txt
Data/cc/ne.txt
Data/cc/si.txt
Data/cc/vi.txt
Data/cc/zh-Hans.txt
Data/cc/*.txt.xz
Data/cc
Data/captioning/
Data/coco
Data/ec_finetuning/
Data/beit_captioning/
Data/beit_ec_finetuning/
Data/beit_ft_captioning/
Data/beit_ft_ec_finetuning/
Data/
slurm_logs/
Output/**/pytorch_model.bin
Output/**/*.bin
Output/**/model.pt
Output/**/sentencepiece.bpe.model
Output/

Models/

temp/
